# See https://gist.github.com/BenWhitehead/9422087

[Unit]
Description=TeamCity Agent
Requires=network.target
After=syslog.target network.target

[Service]
Type=forking
ExecStart={{ install_directory }}/bin/agent.sh start
ExecStop={{ install_directory }}/bin/agent.sh stop
PIDFile={{ install_directory }}/logs/buildAgent.pid
User={{ teamcity_user }}
Group={{ teamcity_user }}
Restart=on-failure
RestartSec=10
RemainAfterExit=yes
SyslogIdentifier=teamcity-agent

[Install]
WantedBy=multi-user.target
